<!DOCTYPE html>
<html>
    <head>
        <title>Generic Name - Add</title>
    </head>
    <body>
        <h1>Add New Generic Name</h1>
        <form action = "/generic_name/insert" method = "get">
            Medication Name:
            <select name = "medication_id">
                <% for(var i = 0; medication.length > i; i++) {%>
                    <option value = "<%= medication[i].medication_id %>"> <%= medication[i].medication_name %></option>
                <% } %>
            </select>
            Generic Name: <input name="generic_name" type="text" />
            <br />
            <input type="submit"/>
        </form>
    </body>
</html>