<!DOCTYPE html>
<html>
    <head>
        <title>Precaution - Add</title>
    </head>
    <body>
        <h1>Add New Precaution</h1>
        <form action = "/precaution/insert" method = "get">
            Medication ID: <input name="medication_id" type="text" />
            Precaution Code: <input name="precaution_code" type="text" />
            Precaution: <input name="precaution" type="text" />
            <br />
            <input type="submit"/>
        </form>
    </body>
</html>