<!DOCTYPE html>
<html>
<body>
  <h1>355 Project 1</h1>
  <p>Welcome to a medication tracker web app</p>
</body>
<head>
    <a href="https://drive.google.com/file/d/1bUsG1yLlmGHtZTUQSzKm5SgHKYd5p-aD/view?usp=sharing">
        ER Diagram</a>
    <br/>
    <a href="https://drive.google.com/file/d/1tb9P3BTDBBBMtFLnB3uOOYaS2LqSJICd/view?usp=sharing">
        Schema</a>
    <br/>
    <a href="https://docs.google.com/document/d/1MmeVrogCZzgtMSn_n6_Bgn5ZaQLruweyBHDh4qaXdI8/edit?usp=sharing">
    Formal Report</a>
    <br/>
    <br/>
    <br/><a href="/staticfile.html">View Project</a>
    <br/>
    <br/>
    <img src="/images/Prescription-Drugs.jpg" alt="Prescription Drugs" width="607.5" height="320">

    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
</html>


