<!DOCTYPE html>
<html>
    <head>
        <title>Side Effects - Add</title>
    </head>
    <body>
        <h1>Add New Side Effect</h1>
        <form action = "/side_effect/insert" method = "get">
            Symptom: <input name="symptom" type="text" />
            Note: <input name="note" type="text" />
            <br />
            <input type="submit"/>
        </form>
    </body>
</html>