<!DOCTYPE html>
<html>
<head>
    <title> Side Effects - View All</title>
</head>
    <body>
        <h1>Side Effects</h1>
        <br/>
        <a href="http://localhost:3000/side_effects/add">
            Add Side Effect</a>
        <br/><a href="/staticfile.html">Return To Main Page</a>

        <br/>
        <br/>

        <table border = "1">
            <tr>
                <th>Symptom</th>
                <th>Notes</th>
            </tr>
            <% for(var i = 0; side_effects.length > i; i++) {%>
            <tr>
                <td><%= side_effects[i].symptom %></td>
                <td><%= side_effects[i].notes %></td>
            </tr>
            <% } %>
        </table>
        <br/>
        <br/>
        <br/>
        <a href="http://localhost:3000/side_effects/add">
            Add Side Effect</a>
        <br/><a href="/staticfile.html">Return To Main Page</a>

        <br/>
        <br/>
        <br/>
        <br/>
    </body>
</html>