<!DOCTYPE html>
<html>
<head>
    <title> Side Effects - View All</title>
</head>
    <body>
        <h1>Side Effects</h1>
        <br>
        <form action = "/side_effects/update" method="get">

            Symptom: <input
                    id="symptom"
                    name="symptom"
                    type="text"
                    value="<%= side_effects_result.symptom%>" />
            Notes: <input
                    id="notes"
                    name="notes"
                    type="text"
                    value="<%= side_effects_result.notes%>" />
            <input type = "hidden"
                    id="side_effects_id"
                    name="side_effects_id"
                    value="<%= side_effects_result.side_effects_id%>" />

            <br>
            <br>

            <input type ="submit"/>
        </form>
        <br/>
        <a href="/side_effects/all">Return to all</a>
    </body>
</html>