<!DOCTYPE html>
<html>
<head>
    <title> Side Effects - View All</title>
</head>
    <body>
        <h1>Side Effects</h1>
        <br>
        <form action = "/side_effects/update" method="get">

            Medication: <input
                id="side_effects_name"
                name="side_effects_name"
                type="text"
                value="<%=side_effects_result.medication_id%>"/>
            Symptom: <input
                    id="side_effects_symptom"
                    name="side_effects_symptom"
                    type="text"
                    value="<%=side_effects_result.symptom%>"/>
            Notes: <input
                    id="side_effects_notes"
                    name="side_effects_notes"
                    type="text"
                    value="<%=side_effects_result.notes%>"/>
            <input type = "hidden"
                    id="medication_id"
                    name="medication_id"
                    value="<%=side_effects_result.medication_id%>"/>

            <br>
            <br>

            <input type ="submit"/>
        </form>
        <br/>
        <a href="/side_effects/all">Return to all</a>
    </body>
</html>