<!DOCTYPE html>
<html>
    <head>
        <title>Warning - Add</title>
    </head>
    <body>
        <h1>Add New Warning</h1>
        <form action = "/warning/insert" method = "get">
            Medication ID: <input name="medication_id" type="text" />
            Warning: <input name="warning" type="text" />
            <br />
            <input type="submit"/>
        </form>
    </body>
</html>