<!DOCTYPE html>
<html>
<body style="background-color:#cce6ff;">
    <head>
        <title>Medication - Add</title>
    </head>
    <body>
        <h1>Add New Medication</h1>
        <form action = "/medication/insert" method = "get">
            Medication Name: <input name="medication_name" type="text" />
            <br/>
            Purpose: <input name="purpose" type="text" style="height: 100px; width: 500px;"/>
            <br/>
            Instructions on How to Take: <input name="how_to_take" type="text" style="height: 100px; width: 500px;" />
            <br/>
            Warning: <input name="warning" type="text" style="height: 100px; width: 500px;"/>
            <br />
            <input type="submit"/>
        </form>
    </body>
</html>


